// Requirements
// ============







@font-face {
  font-family: SuisseReg;
  src: url(../fonts/SuisseIntl-Regular-WebXL.eot) format("eot"),
       url(../fonts/SuisseIntl-Regular-WebXL.woff)format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: SuisseWorks;
  src: url(../fonts/SuisseWorks-Regular-WebXL.eot) format("eot"),
  url(../fonts/SuisseWorks-Regular-WebXL.woff) format("woff");

}
body {
  font-size: 18px;
  line-height: 1.6;
  font-family:"SuisseReg";
  font-weight: normal;


}

.container {

         font-size: 20px;


}


em {
  font-style: italic;

}
i {
  font-style: italic;

}
h1 {
  font-size: 1.2em;
  margin: 0;
  font-family:"SuisseWorks";
}
